/* main text color: #212121 */
/* secondary text color: #757575 */
/* white text color: #FFFFFF */
/* white page bg color: #FFFFFF */
/* secondary page bg color: #F5F4FA */
/* accent color: #2196F3 */
/* dark hero bg and footer bg color: #2F303A */
/* off white color: #F5F4FA */

/* page main color custom css variables */
:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --off-white-color: #F5F4FA;
    --white-text-color: #FFFFFF;
    --dark-background-color: #2F303A;
}

/* common page style */
.page {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--secondary-text-color);
}

/* logo style */
.logo-1-3 {
    color: var(--accent-color);
}

.logo-2-3 {
    color: var(--main-text-color);
}

.logo-3-3 {
    color: var(--white-text-color);
}

/* remove dots from list */
.list {
    list-style: none;
}

/* page nav */
.page-nav a {
    color: var(--main-text-color);
}
.contact-nav a {
    color: var(--secondary-text-color);
}
.page-nav a:hover,
.contact-nav a:hover,
.page-nav a:focus,
.contact-nav a:focus {
    color: var(--accent-color);
}

.page-nav a.current {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-color: var(--dark-background-color);
}

.hero .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.button-hero {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* section title formatting */
.section.team {
    background-color: var(--off-white-color);
}

.section-title {
    color: var(--main-text-color);
}

/* buttons */

.button {
    color: var(--main-text-color);
    background-color: var(--off-white-color);
    border: 0px;
}
.button:hover,
.button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* footer */
.page-footer {
    background-color: var(--dark-background-color);
}

.entry {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: var(--white-text-color);
}

.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}